POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<db>
POSTGRES_URL=postgresql+asyncpg://<user>:<pass>@db:<port (docker)>/<db>

TEST_POSTGRES_USER = <user>
TEST_POSTGRES_PASSWORD = <password>
TEST_POSTGRES_DB = <db>
TEST_POSTGRES_URL = postgresql+asyncpg://<user>:<password>@testdb:<port (docker)>/<db>

REDIS_URL=<redis url>

DEBUG=<True/False>

SLOW_REQUEST_THRESHOLD=<seconds: float>

SECRET_JWT_KEY=<your secret key> # openssl rand -hex 32
ALGORITHM=<HS256 or another>
JWT_TOKEN_EXPIRE_MINUTES=<minutes: int>

SMTP_HOST = <host>
SMTP_PORT = <port>
SMTP_USER = <user>
SMTP_PASSWORD = <password>
VERIFICATION_LINK = http://127.0.0.1:8000/v1/verify


GITHUB_CLIENT_ID = <client id>
GITHUB_CLIENT_SECRET = <secret>
GITHUB_REDIRECT_URI = http://localhost:8000/v1/github/callback
