POSTGRES_USER = <your pg user>
POSTGRES_PASSWORD = <your pg pass>
POSTGRES_DB = <your pg db>
POSTGRES_URL = <your pg url>

TEST_POSTGRES_USER = <your test pg user>
TEST_POSTGRES_PASSWORD = <your test pg pass>
TEST_POSTGRES_DB = <your test pg db>
TEST_POSTGRES_URL = <your test pg url>

REDIS_URL = <your redis url>

DEBUG = <True/False>

SLOW_REQUEST_THRESHOLD = <float>

SECRET_JWT_KEY = <your secret key> # openssl rand -hex 32
ALGORITHM = <HS256 or another>
JWT_TOKEN_EXPIRE_MINUTES = <int>

SMTP_HOST = <your smtp host>
SMTP_PORT = <your smtp port>
SMTP_USER = <your smtp user>
SMTP_PASSWORD = <your smtp pass>
VERIFICATION_LINK = http://127.0.0.1:8000/v1/verify