POSTGRES_USER=<pg-user>
POSTGRES_PASSWORD=<pg-pass>
POSTGRES_DB=<pg-db>
POSTGRES_URL=postgresql+asyncpg://<pg-user>:5432@db:<pg-pass>/<pg-db>

REDIS_URL=redis://<redis>:<port>/0

DEBUG=<True/False>

SLOW_REQUEST_THRESHOLD=<seconds: int>

SECRET_JWT_KEY=<your-secret_key> # openssl rand -hex 32
ALGORITHM=<HS256 or another>
JWT_TOKEN_EXPIRE_MINUTES=<minutes: int>

SMTP_HOST = <host>
SMTP_PORT = <port>
SMTP_USER = <mail>
SMTP_PASSWORD = <pass>
